<div class=" center middle jumbotron jumbotron-fluid ">
  <h1>Fuji Fanatics</h1>
  <p>Some more lead text here</p>
  <%= link_to "Sign up now", "#", class: "btn btn-danger btn-lg btn-xlarge" %>  
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
     <div class="card">
  <%= image_tag 'create.jpg', class: "card-im-top", alt: "Card image cap" %> 
  <div class="card-block">
    <h4 class="card-title">Create</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
    </div>
    <div class="col-sm-4">
      <div class="card">
  <%= image_tag 'edit.jpg', class: "card-img-top", alt: "Card image cap" %>
  <div class="card-block">
    <h4 class="card-title">Edit</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
    </div>
    <div class="col-sm-4">
     <div class="card">
  <%= image_tag 'share.jpg', class: "card-img-top", alt: "Card image cap" %>
  <div class="card-block">
    <h4 class="card-title">Share</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
    </div>
  </div>
</div>