

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

.center {
    text-align:center;
    color: #fff;
    padding-top: 200px;
}

.jumbotron {
    background-image: asset-url('home_top.jpg');
    background-size: cover;
    height: 600px;
}

.btn-xlarge {
    font-size: 1.7em;
    background-color: black;
    border: none;
} 

footer {
    margin-top: 20px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: right;
    margin-left: 15px ;
}